@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}

input, button, textarea {
  font-family: inherit;
}

button, a {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  position: relative;
  background: url("../img/bg-hero.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.header::before {
  content: '';
  position: absolute;
  background: linear-gradient(89deg, rgba(0, 0, 0, 0.51) 36.75%, rgba(217, 217, 217, 0) 66.99%);
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
  z-index: -1;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 34px;
  position: absolute;
  max-width: 1440px;
  margin: 0 auto;
  left: 15px;
  right: 15px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  font-family: "Marcellus", serif;
  line-height: 50px;
  /* 192.308% */
  color: #FFFFFF;
  margin-right: auto;
}

.logo img {
  margin-right: 6px;
}

.menu__body {
  margin-right: auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(1.5rem, calc(6.67vw + 0.167rem), 3.5rem);
  font-size: 16px;
}

.menu__item a {
  color: #FFFFFF;
  position: relative;
}

.menu__item a:hover::before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #AE0F0F;
  position: absolute;
  bottom: -6px;
}

.search {
  margin: 0 35px;
  background: transparent;
}

.menu {
  margin-left: auto;
}

.btn-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #D9D9D9;
  padding: 5px 10px 6px 5px;
  color: #AE0F0F;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.btn-light img {
  margin-right: 11px;
}

.btn-light:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.hero__text {
  padding-top: 315px;
  padding-bottom: 237px;
}

.hero__text h1 {
  max-width: 505px;
  color: #FFFFFF;
  font-size: clamp(1.25rem, calc(0.625rem + 3.13vw), 3.438rem);
  font-family: "Audiowide", sans-serif;
  line-height: 162.5%;
  margin-bottom: clamp(0.938rem, calc(0.688rem + 1.25vw), 1.813rem);
}

.hero__text p {
  max-width: 509px;
  color: #CDCDCD;
  font-size: 16px;
  line-height: 26px;
  /* 162.5% */
  margin-bottom: clamp(0.938rem, calc(0.438rem + 2.5vw), 2.688rem);
}

.btn {
  background: #AE0F0F;
  padding: 10px 24px 11px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 26px;
  /* 162.5% */
  color: #FFFFFF;
  border: 2px solid transparent;
}

.btn:hover {
  background: transparent;
  border: 2px solid #AE0F0F;
}

.menu__icon {
  display: none;
}

.menu__body._active .menu__link, .menu__icon._active .menu__link {
  color: #FFFFFF;
}

@media (max-width: 1199px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .btn-light {
    display: none;
  }
  .logo {
    margin-right: 0;
  }
  .menu {
    margin-left: 0;
  }
  .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #FFFFFF;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;
  }
  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: 2.4em;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
}

.menu__icon._active span, .menu__icon._active::before, .menu__icon._active::after {
  background-color: #FFFFFF;
}

.about {
  padding-top: clamp(2.5rem, calc(1.227rem + 6.36vw), 6rem);
  padding-bottom: clamp(2.5rem, calc(1.227rem + 6.36vw), 6rem);
}

.about__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.about__inner {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
}

.about__inner h2 {
  color: #484848;
  font-family: "Audiowide", sans-serif;
  font-size: clamp(1.125rem, calc(0.511rem + 3.07vw), 2.813rem);
  font-style: normal;
  font-weight: 400;
  line-height: 122.222%;
  max-width: 541px;
  margin-bottom: 7px;
}

.about__inner p {
  color: #9E9E9E;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  max-width: 509px;
  margin-bottom: 24px;
}

.about__img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.title {
  z-index: 1;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 50px;
  /* 357.143% */
  margin-bottom: clamp(0.938rem, calc(.665rem + 1.36vw), 1.688rem);
  width: 221px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.title::before {
  content: '';
  display: block;
  position: absolute;
  background: url("/img/overlay-title.svg") no-repeat;
  width: 221px;
  height: 32px;
  z-index: -1;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: clamp(0.938rem, calc(0.619rem + 1.59vw), 1.813rem);
}

.about__item .about__image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 17px;
}

.about__item .about__image::before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #FFD6CD;
  z-index: -1;
}

.about__text h5 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  /* 162.5% */
}

.about__text p {
  color: #9E9E9E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  max-width: 338px;
  margin-bottom: 0;
}

.class {
  background-color: #F8F8F8;
  padding: 96px 0;
  position: relative;
  z-index: 5;
}

.class__text h2 {
  color: #484848;
  font-family: "Audiowide", sans-serif;
  font-size: clamp(1.125rem, calc(0.511rem + 3.07vw), 2.813rem);
  font-style: normal;
  font-weight: 400;
  line-height: 122.222%;
  max-width: 447px;
  margin-bottom: 20px;
}

.class__text p {
  color: #9E9E9E;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
  max-width: 393px;
  margin-bottom: 36px;
}

.class__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.class__blocks .class__text {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.swiper-slide {
  position: relative;
  overflow: hidden;
  max-width: 285px;
  min-width: 285px;
  height: 354px;
}

.swiper-slide .class__hover {
  position: absolute;
  background: url("/img/classHover.png") no-repeat;
  background-position: bottom;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-height: 100%;
  bottom: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide:hover .class__hover {
  bottom: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.swiper-slide .btn:hover {
  background: transparent;
  border: 1px solid #AE0F0F;
  color: #AE0F0F;
}

.swiper-slide .class__hover--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 30px;
  bottom: 27px;
}

.swiper-slide .class__hover--text .icon {
  width: 25.076px;
  height: 28.911px;
  margin-bottom: 18px;
}

.swiper-slide .clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9E9E9E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 185.714%;
  margin-bottom: 9px;
}

.swiper-slide .clock img {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}

.swiper__btns {
  position: relative;
  width: 160px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.swiper__btns button {
  background: transparent;
  border: 1px solid #AE0F0F;
}

.swiper__btns button:hover {
  background: #AE0F0F;
}

.swiper__btns button:hover .arrow {
  color: white;
}

.prev {
  padding: 22px 16px 18px 16px;
}

.next {
  padding: 22px 16px 18px 16px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.second__class {
  padding: 96px 0;
  position: relative;
}

.second__class::before {
  content: '';
  display: block;
  position: absolute;
  background: url("/img/overlay-left.svg") no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 45px;
  z-index: -1;
}

.second__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.second__right img {
  z-index: -1;
}

.second__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}

.second__list .about__item {
  max-width: 283px;
  gap: 8px;
}

.second__cubes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  padding: 0 30px;
}

.cube {
  width: 160px;
  height: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0px 28px;
  border: 1px solid #B9B9B9;
}

.cube h3 {
  color: #484848;
  font-family: "Audiowide", sans-serif;
  font-size: clamp(0.938rem, calc(0.597rem + 1.7vw), 1.875rem);
  font-style: normal;
  font-weight: 400;
}

.cube p {
  margin-bottom: 0;
  color: #9E9E9E;
  font-size: 14px;
  font-weight: 400;
  line-height: 171.429%;
  max-width: 466px;
}

.trainers {
  background: #F8F8F8;
  z-index: -1;
  padding-top: 92px;
  padding-bottom: 112px;
  position: relative;
}

.trainers::before {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  background: url("/img/overlay-right.svg") no-repeat;
  width: 100%;
  height: 100%;
  background-position: bottom right;
}

.trainer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trainer__text h2 {
  color: #484848;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  font-size: clamp(1.25rem, calc(0.682rem + 2.84vw), 2.813rem);
  line-height: 122.222%;
  max-width: 565px;
  margin-bottom: 16px;
}

.trainer__text p {
  color: #9E9E9E;
  font-size: 16px;
  line-height: 162.5%;
  max-width: 522px;
  text-align-last: center;
  text-align: center;
}

.trainer__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

.trainer__card {
  position: relative;
}

.trainer__card .title {
  position: absolute;
  top: 75%;
}

.trainer__card p {
  color: #9E9E9E;
  text-align: center;
  font-size: 16px;
  line-height: 162.5%;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(0.5rem, calc(0.295rem + 1.02vw), 1.063rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.time {
  padding-top: 105px;
  padding-bottom: 118px;
}

.time__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 39px;
}

.schedule-table span {
  font-size: clamp(0.375rem, calc(0.148rem + 1.14vw), 1rem);
}

.schedule-table th,
.schedule-table td {
  max-width: 150px;
  border: 1px solid rgba(174, 15, 15, 0.25);
  background: #f8f8f8;
  text-align: center;
}

.schedule-table th {
  width: 150px;
  height: 69px;
  color: #AE0F0F;
}

thead tr th {
  text-transform: uppercase;
  font-size: clamp(0.375rem, calc(0.148rem + 1.14vw), 1rem);
  font-weight: 600;
}

.schedule-table th {
  background-color: #f5f5f5;
  font-weight: bold;
  text-align: center;
}

.schedule-table td {
  text-align: center;
  padding: 30px 0;
}

.schedule-table th:first-child,
.schedule-table td:first-child {
  padding: 0;
  padding-inline: 10px;
  color: #000;
  font-size: clamp(0.375rem, calc(0.148rem + 1.14vw), 1rem);
  line-height: 357.143%;
}

.fitness {
  color: #E29235;
}

.boxing {
  color: #AE0F0F;
}

.cycling {
  color: #90D83E;
}

.builing {
  color: #1BB6D7;
}

.meditation {
  color: #058E89;
}

.pricing {
  background: #F8F8F8;
  padding: 96px 0;
  position: relative;
  z-index: 5;
}

.pricing label {
  cursor: pointer;
  text-indent: -9999px;
  width: 34px;
  height: 14px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.pricing label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 2px;
  width: 12px;
  height: 12px;
  background: #AE0F0F;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pricing input:checked + label {
  background: #bada55;
}

.pricing input:checked + label:after {
  left: calc(100% - 2px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.pricing .input__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.pricing .price__active {
  color: #AE0F0F !important;
  font-weight: 600;
  line-height: 50px;
  /* 357.143% */
}

.pricing #switch {
  display: none;
}

.price__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.price__text h2 {
  color: #484848;
  font-family: "Audiowide", sans-serif;
  font-size: clamp(1.5rem, calc(1.023rem + 2.39vw), 2.813rem);
  font-style: normal;
  line-height: 122.222%;
  max-width: 323px;
  margin-bottom: 14px;
}

.price__text p {
  color: #9E9E9E;
  font-size: 16px;
  line-height: 162.5%;
  margin-bottom: 18px;
}

.price__text span {
  color: #484848;
  font-weight: 600;
  line-height: 26px;
}

.price__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(0.938rem, calc(0.597rem + 1.7vw), 1.875rem);
}

.price__card {
  position: relative;
  padding: 35px;
  -webkit-box-shadow: 0px 0px 29px 4px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 0px 29px 4px rgba(0, 0, 0, 0.29);
  width: 350px;
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #100F0F;
  background: #100F0F url("/img/woman.png") no-repeat;
  background-position: top;
}

.price__card::before {
  content: attr(data-title);
  width: 78px;
  height: 23px;
  top: 19px;
  left: 19px;
  background: #FFFFFF;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AE0F0F;
  font-size: 14px;
  font-weight: 600;
  line-height: 50px;
  /* 357.143% */
  text-transform: uppercase;
}

.price__card h3 {
  color: #E3E3E3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

.price__card h3 span {
  color: #AE0F0F;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  /* 166.667% */
}

.price__card .price__temp {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price__card:last-child {
  background: #B6B6B6 url("/img/price-2.png") no-repeat;
}

.price__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
}

.price__item::before {
  content: '';
  background: url(/img/mark.svg) no-repeat;
  display: block;
  margin-right: 6px;
  width: 14px;
  height: 12.922px;
}

.price__item:last-child {
  margin-bottom: 22px;
}

.shop {
  padding-top: 96px;
  padding-bottom: 104px;
}

.shop__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__text h2 {
  color: #484848;
  text-align: center;
  font-family: Audiowide;
  font-size: clamp(1.438rem, calc(0.938rem + 2.5vw), 2.813rem);
  line-height: 122.222%;
  margin-bottom: 26px;
}

.shop__text p {
  color: #9E9E9E;
  font-size: 16px;
  line-height: 162.5%;
  max-width: 517px;
  text-align-last: center;
  margin-bottom: 33px;
}

.shop__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 28px;
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
}

.shop__card {
  padding: 0 15px;
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
}

.shop__card .btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop__card .btn img {
  margin-right: 7px;
}

.shop__card .btn:hover {
  color: #AE0F0F;
}

.shop__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #E9E9E9;
  max-width: 350px;
  height: 342px;
  position: relative;
}

.shop__block::before {
  content: attr(data-sale);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 30px;
  top: 0;
  position: absolute;
  background: url("/img/overlay-card.svg") no-repeat;
  background-size: cover;
  -webkit-filter: drop-shadow(-7px 3px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-7px 3px 10px rgba(0, 0, 0, 0.25));
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 142.857% */
  width: 75.655px;
  height: 76.12px;
}

.shop__block::after {
  content: attr(data-name);
  display: block;
  bottom: 15px;
  left: 24px;
  position: absolute;
  color: #242323;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  /* 312.5% */
}

.shop__block img {
  margin-bottom: 62px;
}

.shop__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AE0F0F;
  font-size: clamp(1rem, calc(0.795rem + 1.02vw), 1.563rem);
  font-weight: 600;
  line-height: 80%;
  padding: 10px 0;
}

.rating__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.rating__item {
  cursor: pointer;
  font-size: clamp(1rem, calc(0.795rem + 1.02vw), 1.563rem);
  -webkit-transition: .2s;
  transition: .2s;
  color: #E5E5E5;
}

.rating__item:hover,
.rating__item:hover ~ .rating__item {
  color: gold;
}

.rating__list[data-total-value="1"] .rating__item:nth-child(n+5),
.rating__list[data-total-value="2"] .rating__item:nth-child(n+4),
.rating__list[data-total-value="3"] .rating__item:nth-child(n+3),
.rating__list[data-total-value="4"] .rating__item:nth-child(n+2),
.rating__list[data-total-value="5"] .rating__item:nth-child(n+1) {
  color: orange;
}

.calculate {
  padding-top: 107px;
  padding-bottom: 99px;
  position: relative;
}

.calculate::before {
  content: '';
  position: absolute;
  background: url(/img/overlay-left.svg) no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-position: left;
}

.calculate .btn:hover {
  color: #AE0F0F;
}

.calculate__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calc__left h2 {
  color: #484848;
  font-family: "Audiowide", sans-serif;
  font-size: 45px;
  line-height: 55px;
  /* 122.222% */
}

.calc__left p {
  color: #9E9E9E;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  max-width: 466px;
}

.calc__temp {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.calc__first:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calc__first:first-child .btn {
  margin-top: 18px;
}

.calc__input {
  margin-top: 18px;
  border: 1px solid #000;
  padding: 23px 25px;
}

.round {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.fitness__c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 450px;
  background: url(/img/fitness.jpg) no-repeat;
  position: relative;
  background-size: cover;
  z-index: 5;
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  text-align: center;
}

.fitness__c h2 {
  color: #FFF;
  font-family: Audiowide;
  font-size: clamp(1rem, calc(0.341rem + 3.3vw), 2.813rem);
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  /* 122.222% */
}

.fitness__c::before {
  content: '';
  background: rgba(16, 15, 15, 0.67);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.fitness__c button {
  background: transparent;
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
}

.fitness__c span {
  color: #AE0F0F;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  /* 183.333% */
}

.footer {
  padding-top: 97px;
  padding-bottom: 100px;
}

.footer .logo {
  color: #484848;
  margin-bottom: 13px;
}

.footer h6 {
  color: #484848;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  /* 162.5% */
  position: relative;
}

.footer h6::after {
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background: #AE0F0F;
  margin-bottom: 13px;
}

.footer__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
  gap: 20px;
}

.footer_first p {
  color: #9E9E9E;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  max-width: 342px;
  margin-bottom: 23px;
}

.footer__social--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
}

.footer__social--item {
  border-radius: 4px;
  border: 1px solid #C0C0C0;
  width: 46px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.footer__social--item:hover {
  border: 1px solid #0094FF;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}

.footer_link {
  color: #A7A7A7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
}

.footer_link:hover {
  color: #484848;
}

.footer__last address {
  color: #676767;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  max-width: 252px;
  margin-bottom: 13px;
}

.footer__last button {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AE0F0F;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  /* 162.5% */
}

.copyrate {
  background: #121111;
  padding: 20px 0;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 576px) {
  .second__cubes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .time__blocks .schedule-table th {
    width: 0px;
    height: 0px;
  }
  .time__blocks .schedule-table td {
    padding: 0 !important;
  }
  .time__blocks .schedule-table {
    margin-top: 168px;
  }
  .price__card {
    width: 80%;
  }
  .price__cards {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .price__temp .btn {
    font-size: 12px;
    padding: 6px 12px;
  }
}

@media (max-width: 768px) {
  .class .class__blocks .swiper, swiper-wrapper {
    width: 100%;
  }
  .class__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .second__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .second__cubes {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .trainer__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .schedule-table {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    position: relative;
    margin-top: 200px;
  }
  .schedule-table span {
    font-weight: 700;
  }
  .schedule-table td {
    padding: 10px 20px;
  }
  .price__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .calculate__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .calc__temp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 992px) {
  .hero__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .second__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1200px) {
  .price__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #FFFFFF;
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 4em;
}

/* Start==================================Важная настройка==================================Start */
.swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1140px;
  margin: 0 auto;
}

.swiper-wrapper {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.slider .swiper-slide::before {
  content: '';
  display: block;
  background: url("../img/play.png");
  background-position: center;
  width: 65px;
  height: 65px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

.swiper-button-prev {
  background-color: red;
  left: 20px;
}

.swiper-button-next {
  background-color: red;
  right: 20px;
}

/* End==================================Важная настройка==================================End */
.swiper-navigation {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.swiper-navigation .swiperPrev, .swiper-navigation .swiperNext {
  cursor: pointer;
}

.hidden {
  display: none;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}
