.about {
  padding-top: clamp(2.5rem, calc(1.227rem + 6.36vw), 6rem);
  padding-bottom: clamp(2.5rem, calc(1.227rem + 6.36vw), 6rem);
}
.about__blocks{
  display: flex;
  align-items: center;
  gap: 15px;
  // width: calc(100% / 2);
  // flex-basis: 50%;
}
.about__inner {
  flex-basis: 50%;
  position: relative;
  h2{
    color: #484848;
    font-family: $ff-Audiowide;
    font-size: clamp(1.125rem, calc(0.511rem + 3.07vw), 2.813rem);
    font-style: normal;
    font-weight: 400;
    line-height: 122.222%;
    max-width: 541px;
    margin-bottom: 7px;
  }
  p{
    color: #9E9E9E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    max-width: 509px;
    margin-bottom: 24px; // Нужно исправить, ибо родственные p затрагивают
  }
}
.about__img{
  flex-basis: 50%;
}
.title {
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 50px; /* 357.143% */
  margin-bottom: clamp(0.938rem, calc(.665rem + 1.36vw), 1.688rem);
  width: 221px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
  &::before{
    content: '';
    display: block;
    position: absolute;
    background: url('/img/overlay-title.svg') no-repeat;
    width: 221px;
    height: 32px;
    z-index: -1;
  }
}
.about__list {
  
}
.about__item {
  display: flex;
  align-items: center;
  margin-bottom: clamp(0.938rem, calc(0.619rem + 1.59vw), 1.813rem);
  .about__image{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 17px;
    &::before{
      content: '';
      position: absolute;
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background: #FFD6CD;
      z-index: -1;
    }
  }
}
.about__text {
  h5{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 162.5% */
  }
  p{
    color: #9E9E9E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    max-width: 338px;;
    margin-bottom: 0; // temp исправка
  }
}